body
{
	background-color: rgb(192,192,188);
}
#bannerPhoto
{
	width: 1000px;
	height: 200px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#PointsInput{
	float: left; 
	position: relative; 
	width: 40%; 
	height:50%; 
}
.generalTable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	/*margin: 0;
	border-collapse: collapse;*/
	text-align: left;
	padding: 0;
}
.generalTable th
{
	font-size: 14px;
	font-weight: normal;
	/*padding: 10px 8px;*/
	/*border-bottom: 2px solid #6678b1;*/
}
.generalTable td
{
	/*border-bottom: 1px solid #ccc;*/
}
.generalTable tbody tr:hover td
{
	color: #009;
}
/*This is used for the column widths of the stops form table*/
.stopNumberColumn{
	width: 30px;
}
.inputTextColumn{
	width: 500px;
}
.removeButtonColumn{
	width: 100px;
}
.requiredCheckboxColumn{
	width: 20px;
}
.requiredTextColumn{
	width: 40px
}

