body
{
	background-color: rgb(192,192,188);
}
#bannerPhoto
{
	width: 1000px;
	height: 200px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#PointsInput{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#stopOptionsSection{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.routeSectionHeader{
	font-size: 12px;
	font-weight: bold;
}
.optionsTableHeader{
	font-size: 14px;
	font-weight: bold;
}
.stopsTable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	text-align: left;
	padding: 0;
}
.stopsTable th
{
	font-size: 14px;
	font-weight: normal;
}
.stopsTable tbody tr:hover td
{
	color: #009;
}
.optionsTable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	text-align: left;
	padding: 0;
}
.optionsTable th
{
	font-size: 14px;
	font-weight: normal;
	border-bottom: 2px solid rgb(14,33,216);
}
.optionsTable td
{
	border-bottom: 1px solid rgb(14,33,216);
}
.optionsTable tbody tr:hover td
{
	color: #009;
}
/*This is used for the column widths of the stops form table*/
.stopNumberColumn{
	width: 30px;
}
.inputTextColumn{
	width: 25%;
}
.removeButtonColumn{
	width: 100px;
}
.requiredCheckboxColumn{
	width: 20px;
}
.requiredTextColumn{
	width: 40px
}
/*This is for the column widths of the stop options table*/
.stopSequenceColumn{
	width: 200px;
}
.addedTimeColumn{
	width: 150px;
}
.addedDistanceColumn{
	width: 150px;
}
.showDirectionsColumn{
	width: 80px;
}
.timeEstimatorColumn{
	width: 80px
}
